#### Making a singular data table of all our data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
#Importing data from csv's
traffic = pd.read_csv('reduced-Chicago_Traffic_Tracker_-_Historical_Congestion_Estimates_by_Segment_-_2011-2018_20240329.csv')
weather = pd.read_csv('weather-chicago, il 2018-04-01 to 2018-05-01.csv')
crashes = pd.read_csv("Traffic_Crashes_-_Crashes_20240329.csv")

In [3]:
#Importing crash (location only) data to possibly use later
crashes_minimal = crashes[["CRASH_RECORD_ID", "CRASH_DATE", "LATITUDE", "LONGITUDE"]]

In [4]:
# These functions turn the timestamp in the traffic dataset into the nearst time stamp
# of the weather dataset (in that weather dataset's format), for merging
def traffic_time_to_weather_time(instr):
    date = instr.split()[0]
    #print(date)
    time = instr.split()[1]
    ampm = instr.split()[2]
    
    year = date.split("/")[2]
    month = date.split("/")[0]
    day = date.split("/")[1]
    
    hour = time.split(":")[0] if ampm == "AM" else str(int(time.split(":")[0])+12)
    
    return (year+"-"+month+"-"+day+"T"+hour+":00:00")
def make_new_time(row):
    return traffic_time_to_weather_time(row["TIME"])

In [5]:
traffic["datetime"] = traffic.apply(make_new_time, axis=1)
traffic

,TIME,SEGMENTID,BUS COUNT,MESSAGE COUNT,SPEED,datetime
0,04/30/2018 11:50:28 PM,1133,1,5,27,2018-04-30T23:00:00
1,04/30/2018 11:50:28 PM,1133,1,5,27,2018-04-30T23:00:00
2,04/30/2018 11:50:28 PM,1153,1,4,23,2018-04-30T23:00:00
3,04/30/2018 11:50:28 PM,1153,1,4,23,2018-04-30T23:00:00
4,04/30/2018 11:50:28 PM,1178,1,5,16,2018-04-30T23:00:00
...,...,...,...,...,...,...
2577596,04/01/2018 12:01:06 AM,203,1,12,18,2018-04-01T12:00:00
2577597,04/01/2018 12:01:06 AM,204,1,1,24,2018-04-01T12:00:00
2577598,04/01/2018 12:01:06 AM,205,1,7,24,2018-04-01T12:00:00
2577599,04/01/2018 12:01:06 AM,206,1,6,24,2018-04-01T12:00:00
2577600,04/01/2018 12:01:06 AM,210,1,6,20,2018-04-01T12:00:00

In [6]:
# New merged dataset 
traffic_merged = traffic.merge(weather, how='left')
traffic_merged.columns

Index(['TIME', 'SEGMENTID', 'BUS COUNT                ', 'MESSAGE COUNT',
       'SPEED', 'datetime', 'name', 'temp', 'feelslike', 'dew', 'humidity',
       'precip', 'precipprob', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'conditions',
       'icon', 'stations'],
      dtype='object')

#### Test/Train split

In [7]:
np.random.seed(569)

In [8]:
# Proportion of the dataset to reserve for testing. We can change this later
test_proportion = 0.2

In [9]:
#A count to make sure we don't lose any indices
len(traffic_merged)

2577601

In [10]:
# Test/train splits, with the count at the end to make sure we have the same number of indices at the end
permutation = np.random.permutation(range(len(traffic_merged)))
test_indicies = permutation[:int(test_proportion * len(traffic_merged))]
train_indicies = permutation[int(test_proportion * len(traffic_merged)):]
np.unique(len(test_indicies)+len(train_indicies))

array([2577601])

In [11]:
# Our test dataframe is test_df, and the train dataframe is train_df
test_df = traffic_merged.iloc[test_indicies]
train_df = traffic_merged.iloc[train_indicies]